
h1
{
color:#0033FF;
font:"Ώ¬Με";
text-align:center;
}
body
{
 background-color:#CCFFCC;
background-repeat:no-repeat;
}/* CSS Document */
.neirong
{
background-color:#CCCCCC;
color:#FF0000;
font-size:10px;
}